*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: "Open Sans", sans-serif;
    color: var(--primary-txt-color)
  }
  
  a {
    color: var(--secondary-txt-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--hover-txt-color);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  